@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as mx;

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: c.$mainBg;
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: c.$mainText;
  background-image: url('../images/bg-pattern.svg');
  background-repeat: no-repeat;
  @include mx.mqMinH(1024px) {
    font-size: 15px;
  }
  @include mx.mq(1024px) {
    font-size: 15px;
  }
}

body {
  width: 100%;
}

.hold {
  background-color: c.$fullSliderBar;
  border: 1px solid c.$sliderBg;
}

// .invisible {

// }