$fullSliderBar: hsl(174, 77%, 80%);
$sliderBg: hsl(174, 86%, 45%);
$emptySliderBg: hsl(224, 65%, 95%);
$discountBg: hsl(14, 92%, 95%);
$discountText: hsl(15, 100%, 70%);
$ctaText: hsl(226, 100%, 87%);
$white: #fefefe;
$mainBg: hsl(230, 100%, 99%);
$toggleBg: hsl(223, 50%, 87%);
$mainText: hsl(225, 20%, 60%);
$headerTextCtaBg: hsl(227, 35%, 25%);